.container__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .content {
        &__back-button {
            margin: 1em;
            button {
                background-color: transparent;
                color: var(--primary-color);
                border: none;
                box-shadow: none;
                font-size: 1.125em;
                cursor: pointer;
            }
        }
        &__cover {
            margin: auto;
            img {
                width: auto;
                max-height: 20em;
            }
        }
        &__title {
            display: flex;
            width: 100%;
            justify-content: center;
            margin: 2em 0;
            padding: 1em;
        }
        &__description {
            display: flex;
            width: 100%;
            justify-content: center;
            h2 {
                font-size: 1.125em;
            }
        }
        &__text {
            display: flex;
            width: 100%;
            justify-content: center;
            padding: 1em;
            p {
                text-align: justify;
            }
        }
    }
}